@model Case

<p>
    Anmälan har nu skickats in till kommunen och kommer att utredas. <br />
    Vill du komplettera din anmälan kontakta oss via mail eller telefon. <br />
    Ange då nummer: 2014-45-0201 Löpnummer: @Model.RefNumber
</p>
