
<!DOCTYPE html>

<html xml:lang="sv" lang="sv">
<head>
    <meta charset="UTF-8" />
    <title>Småstads kommun</title>
    <link rel="stylesheet" href="~/stylesheet/style.css" />
</head>

<body>
    <div id="wrapper">
        <header id="logo">
            <h1>Småstad</h1>
            <p>Kommunen där vi bryr oss om varandra</p>
        </header><!-- End header -->


        <nav>
            <ul>
                <li><a class="reports" asp-action="Startinvestigator" asp-controller="Investigator">Start(Ärenden)</a></li>
                <li class="right"><a class="logout" asp-action="Logout" asp-controller="Login">Logga ut</a></li>
            </ul>
        </nav><!-- End Nav -->

        <div id="content">
        @RenderBody()
           
            <!--Nedan ser man en lista på ärenden-->
            
            <footer>
                &copy; Småstads Kommun All rights reserved.
            </footer>
        </div><!-- End Content -->
    </div><!-- End Wrapper -->
</body>
</html>